.navbar {
  background-color: #dfdfdf;
}
.jumbotron {
  padding-top: 3rem;
  background-color: #dfdfdf;
}
#project {
  background-color: #dfdfdf;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #dfdfdf;
}
